// Colors //

$background-green: #020E04;
$border-yellow: #F0FF42;
$contrast-blue: #2192FF;
$main-green: #15B52B;
$dark-green: #379237;
$footer-dark: #09110A;
$discord-purple: #5865f2;
$form-color: rgba(255,255,255,.05);

