input[type=radio].form__frontend-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 0.7rem;
  height: 0.7rem;
  background-color: #2192FF;
  border-radius: 50%;
  border: 2px solid #333;
  position: relative;
}

input[type=radio].form__backend-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 0.7rem;
  height: 0.7rem;
  background-color: #F0FF42;
  border-radius: 50%;
  border: 2px solid #333;
  position: relative;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Manrope", sans-serif;
  font-size: 1.6rem;
  background-color: #020E04;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vh;
}
.header__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__title {
  color: #15B52B;
  font-size: 1.6rem;
}
.header__text {
  color: white;
  font-size: 0.5rem;
  margin-bottom: 3em;
}
.header .green__bar {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 40px;
  border-radius: 4px;
  background-color: #15B52B;
}
.header .green__bar-text {
  font-weight: bold;
  font-size: 0.7rem;
  text-align: center;
  margin: 0.5em;
  color: white;
}

.main {
  position: relative;
}
.main .joinus {
  position: relative;
}
.main .joinus__bar {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 40px;
  border-radius: 4px;
  background-color: #15B52B;
  margin-bottom: 1em;
}
.main .joinus__text {
  font-weight: bold;
  font-size: 0.7rem;
  text-align: center;
  margin: 0.5em;
  color: white;
}
.main .form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .form__title {
  color: #379237;
  font-size: 0.5rem;
  margin: 0 0.5em;
}
.main .form__title-two {
  color: #379237;
  font-size: 0.5rem;
  margin: 1em 0;
}
.main .form__discord-btn {
  font-size: 0.5rem;
  border-radius: 0.8em;
  border: 2px solid #3c47bd;
  padding: 0.5em 2em;
  margin-top: 1em;
  color: white;
  cursor: pointer;
  background-color: #5865f2;
}
.main .form__discord-input {
  color: white;
  border: 2px solid #15B52B;
  background-color: #379237;
  padding: 0.5em 6em 0.5em 0.7em;
  font-size: 0.4rem;
  text-align: left;
  font-weight: bold;
  border-radius: 0.8em;
}
.main .form .formbox-three {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0.5em 3.6em;
}
.main .form__frontend-input {
  margin-right: 0.5em;
}
.main .form__frontend-label {
  font-size: 0.5rem;
  color: white;
  font-weight: bold;
}
.main .form__backend-input {
  margin: 0 0.5em 0 1.5em;
}
.main .form__backend-label {
  font-size: 0.5rem;
  color: white;
  font-weight: bold;
}
.main .form .formbox-four {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .form__city-input {
  color: white;
  border: 2px solid #15B52B;
  background-color: #379237;
  padding: 0.5em 6em 0.5em 0.7em;
  font-size: 0.4rem;
  text-align: left;
  font-weight: bold;
  border-radius: 0.8em;
}
.main .form__personal-input {
  display: inline-block;
}
.main .form__personal-label {
  display: inline-block;
  margin-left: 1em;
  font-size: 0.3rem;
  color: white;
}

/*# sourceMappingURL=style.css.map */
